body{
  font-family: Arial;
}


.card{

  width: 210px;
  height: 210px;
  size: .8em;
  background-size: cover;
  border-radius: 25px;
  margin: 5px;
  padding: 5px;
}

.card:hover{
  cursor: pointer;
}

.col{
  display: inline-block;
}

.container{
  margin: 0 auto;
}



.correct{
  color: #00e600;
}

.incorrect{
  color: #ff0000;
}

audio{
  display: none;
}
