.card{
  width: 50px;
  height: 100px;
  /*background-color: gray;*/
  background-image: url("assets/images/back_of_card.png");
  border-radius: 25px;
  margin: 20px;
  padding: 25px;
}

.card:hover{
  cursor: pointer;
}

.col{
  display: inline-block;
}

.container{
  width: auto;
}



