body{
  font-family: Arial;
}


.card{

  width: 210px;
  height: 210px;
  size: .8em;
  background-size: cover;
  border-radius: 25px;
  margin: 25px;
  padding: 5px;

  margin: auto;
}

.card:hover{
  cursor: pointer;
}

.col{
  display: inline-block;
}

.container{
  text-align:center;
  height:100vh;
}



.correct{
  color: #00e600;
}

.incorrect{
  color: #ff0000;
}

audio{
  display: none;
}

#grid-type{
  display: block;
  margin: auto;
}

